* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #19a2ae;
}

.wrapper {
	width: 100%;
}

.center {
	width: 85%;
	margin: 0 auto;
	height: 420px;
	margin-top: 123px;
}

.effect {
	height: 140px;
}

.middle {
	border: solid white;
	height: 140px;
	background-color: white;
}

.age {
	color: #969696;
	font-weight: 400;
	font-size: 18px;
}

.text_center {
	text-align: center;
	margin-top: 65px;
}

.text_center p {
	font-family: arial;
	font-size: 15px;
	font-weight: 400;
	color: #969696;
	position: relative;
	top: 8px;
}

.text_center h1 {
	font-family: arial;
	font-size: 20px;
}

.bottom {
	border-top: solid 1px #969696;
	display: flex;
	align-items: center;
	height: 110px;
	background-color: white;
	border-radius: 0px 0px 15px 15px;
}

.artLeft {
	margin-left: 35px;
}

.artMiddle {
	margin-left: 35px;
}

.artRight {
	margin-left: 35px;
}

.bottom article {
	text-align: center;
}

.bottom p {
	color: #969696;
	font-size: 11px;
	font-family: arial;
	font-weight: 400;
	letter-spacing: 2px;
	position: relative;
	top: 7px;
}

.bottom h1 {
	font-family: arial;
	font-size: 22px;
	font-weight: 700;
}

#waterEffect {
	border-radius: 15px 15px 0px 0px;
}

#victor {
	border-radius:  100px;
	position: absolute;
	top: 205px;
	left: 134px;
	border: solid white 5px;
}

.backgroundBottom {
	width: 208px;
	height: 398px;
	background-image: url(images/bg-pattern-bottom.svg);
	z-index: -1;
	position: absolute;
	transform: translate(80%, -275px);
	background-repeat: no-repeat;
}

.backgroundTop {
	width: 1000px;
	height: 1000px;
	background-image: url(images/bg-pattern-top.svg);
	z-index: -1;
	background-repeat: no-repeat;
	position: absolute;
	transform: translate(-70%, -1250px);
}



@media only screen and (min-width: 403px) {
	
	.middle {
		width: 313px;
	}
	
	.bottom {
		width: 319px;
	}
	
	.backgroundBottom {
		width: 224px;
		height: 398px;
		background-image: url(images/bg-pattern-bottom.svg);
		z-index: -1;
		position: absolute;
		transform: translate(80%, -275px);
		background-repeat: no-repeat;
	}
}

@media only screen and (min-width: 1000px) {
	
	.middle {
		width: 313px;
	}
	
	.bottom {
		width: 319px;
	}
	
	.wrapper {
		width: 100%;
	}
	
	#victor {
		position: absolute;
		top: 88px;
		left: 107px;
	}
	
	.center {
		width: 320px;
		position: relative;
		top: 150px;
	}
	
	.backgroundBottom {
		width: 855px;
		height: 465px;
		top: 470px;
		left: 1000px;
		transform: scale(1.15);
	}
	
	.backgroundTop {
		width: 1000px;
		height: 1000px;
		position: absolute;
		top: -500px;
		left: -40px;
		transform: scale(1.15);
	}
}